<ion-header>
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#movies">
        Movies
        <ion-icon
          class="icon"
          aria-hidden="true"
          name="film-outline"
        ></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb href="#details">{{movie.title}}</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
