<app-header [buttonStart]="buttonStart"
  ><ion-breadcrumb href="#movies">
    Movies
    <ion-icon class="icon" aria-hidden="true" name="film-outline"></ion-icon>
  </ion-breadcrumb>
  <ion-breadcrumb>Movie details</ion-breadcrumb>
</app-header>
<ion-content *ngIf="movie">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie.start_year }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Durata: </strong> {{ movie.runtime_minutes }} minuti</p>
      <p><strong>Generi: </strong> {{ movie.genres }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="!movie">
  <ion-card>
    <ion-card-title>Il film non è disponibile</ion-card-title>
  </ion-card>
</ion-content>
