<app-header [buttonStart]="buttonStart"
  ><ion-breadcrumb>
    Movies
    <ion-icon class="icon" aria-hidden="true" name="film-outline"></ion-icon>
  </ion-breadcrumb>
  <ion-breadcrumb>Movie details</ion-breadcrumb>
</app-header>
<ion-content *ngIf="movie">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie.year }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Durata: </strong> {{ movie.runningTime }} minuti</p>
      <p><strong>Generi: </strong> {{ movie.genres }}</p>
    </ion-card-content>
  </ion-card>
  <ion-title *ngIf="movie.cast">Cast del film</ion-title>
  <ion-grid *ngIf="movie.cast">
    <ion-row>
      <ion-col *ngFor="let element of movie.cast" size="6">
        <ion-card class="cast-card">
          <ion-card-title>{{element.celebrityName}}</ion-card-title>
          <ion-card-content>
            <p><strong>Ruolo: </strong>{{element.category}}</p>
            <p *ngIf="element.characters">
              <strong>Personaggi: </strong>{{element.characters}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="!movie">
  <ion-card>
    <ion-card-title>Il film non è disponibile</ion-card-title>
  </ion-card>
</ion-content>
