<app-header (redirect)="goToAddPage()"
  ><ion-breadcrumb>
    Movies
    <ion-icon
      class="icon"
      aria-hidden="true"
      name="film-outline"
    ></ion-icon> </ion-breadcrumb
></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header
      ><ion-searchbar
        show-clear-button="always"
        placeholder="Search by title"
        debounce="500"
        (ionInput)="onTitleIonChange($event)"
        type="text"
      ></ion-searchbar
    ></ion-card-header>
    <ion-card-content>
      <app-rating-bar
        [ratingIn]="ratingRange$.value"
        (ratingOut)="onRatingIonChange($event)"
      ></app-rating-bar>
    </ion-card-content>
  </ion-card>
  <app-movie-list
    *ngIf="filteredMovies.length > 0"
    [movieList]="filteredMovies"
    (idToSelect)="loadMovie($event)"
    (idToEdit)="goToEditPage($event)"
    (idToDelete)="deleteMovie($event)"
  ></app-movie-list>
</ion-content>
<ion-footer *ngIf="selectedMovie">
  <ion-toolbar class="footer-toolbar">
    <ion-title>Selected movie details</ion-title>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{selectedMovie.title}} - {{selectedMovie.year}}</ion-card-title
        >
        <ion-card-subtitle>
          <ion-row class="cast" *ngIf="selectedMovie.cast">
            <ion-col size="2">Actors: </ion-col
            ><ion-col size="10">
              <ng-container *ngFor="let person of selectedMovie.cast">
                {{ person.category === "actor" ? person.celebrityName + ", " :
                "" }}
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content
        ><app-progress-bar
          *ngIf="selectedMovie.rating.averageRating"
          [ratingIn]="selectedMovie.rating.averageRating"
        ></app-progress-bar>
        <ion-row>
          <ion-col offset="3">
            <ion-button (click)="goToDetailPage(selectedMovie.id)">
              Go to details
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-footer>
