<app-header (redirect)="goToAddPage()"
  ><ion-breadcrumb>
    Movies
    <ion-icon
      class="icon"
      aria-hidden="true"
      name="film-outline"
    ></ion-icon> </ion-breadcrumb
></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header
      ><ion-searchbar
        show-clear-button="always"
        placeholder="Search by title"
        [formControl]="title"
        type="text"
      ></ion-searchbar
    ></ion-card-header>
    <ion-card-content>
      <app-rating-bar
        [ratingIn]="ratingRange$.value"
        (ratingOut)="onIonChange($event)"
      ></app-rating-bar>
    </ion-card-content>
  </ion-card>
  <app-list
    [list]="movies"
    (idToSelect)="goToDetailPage($event)"
    (idToEdit)="goToEditPage($event)"
    (idToDelete)="deleteMovie($event)"
  ></app-list>
</ion-content>
