<app-header [buttonStart]="buttonStart"
  ><ion-breadcrumb>
    Celebrities
    <ion-icon
      class="icon"
      aria-hidden="true"
      name="people-circle-outline"
    ></ion-icon> </ion-breadcrumb
  ><ion-breadcrumb>Celebrity details</ion-breadcrumb>
</app-header>

<ion-content *ngIf="celebrity">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{celebrity.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Anno di nascita: </strong> {{celebrity.birthYear}}</p>
      <p *ngIf="celebrity.deathYear">
        <strong>Anno della morte: </strong> {{celebrity.deathYear}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-title *ngIf="celebrity.movies">Film in cui ha partecipato</ion-title>
  <ion-grid *ngIf="celebrity.movies">
    <ion-row>
      <ion-col *ngFor="let element of celebrity.movies" offset="1" size="10">
        <ion-card class="cast-card">
          <ion-card-title>{{element.movieTitle}}</ion-card-title>
          <ion-card-content>
            <p><strong>Ruolo: </strong>{{element.category}}</p>
            <p *ngIf="element.characters">
              <strong>Personaggi: </strong>{{element.characters}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="!celebrity">
  <ion-card>
    <ion-card-title>La celebrità non è disponibile</ion-card-title>
  </ion-card>
</ion-content>
