<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-breadcrumbs>
      <ion-breadcrumb href="#celebrities">
        Celebrities
        <ion-icon
          class="icon"
          aria-hidden="true"
          name="person-circle-outline"
        ></ion-icon>
      </ion-breadcrumb>
      <ion-breadcrumb *ngIf="celebrity">
        {{celebrity.primaryName}}
      </ion-breadcrumb>
      <ion-breadcrumb *ngIf="!celebrity">Celebrità</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="celebrity">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{celebrity.primaryName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Anno di nascita: </strong> {{celebrity.birthYear}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="!celebrity">
  <ion-card>
    <ion-card-title>La celebrità non è disponibile</ion-card-title>
  </ion-card>
</ion-content>
