<app-header [buttonStart]="buttonStart"
  ><ion-breadcrumb>
    Celebrities
    <ion-icon
      class="icon"
      aria-hidden="true"
      name="people-circle-outline"
    ></ion-icon> </ion-breadcrumb
  ><ion-breadcrumb>Celebrity details</ion-breadcrumb>
</app-header>

<ion-content *ngIf="celebrity">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{celebrity.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Anno di nascita: </strong> {{celebrity.birthYear}}</p>
      <p *ngIf="celebrity.deathYear">
        <strong>Anno della morte: </strong> {{celebrity.deathYear}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-title *ngIf="celebrity.movies">Film in cui ha partecipato</ion-title>
  <app-cast-card
    *ngIf="celebrity.movies"
    [page]="page"
    [list]="celebrity.movies"
  ></app-cast-card>
</ion-content>
<ion-content *ngIf="!celebrity">
  <ion-card>
    <ion-card-title>La celebrità non è disponibile</ion-card-title>
  </ion-card>
</ion-content>
