<ion-list>
  <ion-item-sliding *ngFor="let movie of movieList | orderBy">
    <ion-item button (click)="selectById(movie.id)">
      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            [appTextHighlight]="movie.rating.averageRating"
            [maxRating]="4"
          >
            {{ movie.title }}</ion-col
          >
          <ion-col size="2" offset="4">({{ movie.year }})</ion-col>
        </ion-row>
        <ion-card-subtitle>
          <ion-row class="cast" *ngIf="movie.cast">
            <ion-col size="2">Actors: </ion-col
            ><ion-col size="10">
              <ng-container *ngFor="let person of movie.cast">
                {{
                  person.category === "actor" ? person.celebrityName + ", " : ""
                }}
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-row>
          <ion-col size="10">
            <app-progress-bar
              *ngIf="movie.rating.averageRating"
              [ratingIn]="movie.rating.averageRating"
            ></app-progress-bar>
          </ion-col>
          <ion-col size="2" class="rating"
            >Rating: {{ movie.rating.averageRating }}</ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="primary" button (click)="editById(movie.id)">
        <ion-icon class="i-margin" name="create-outline"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" button (click)="deleteById(movie.id)">
        <ion-icon class="i-margin" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
